
li:hover{
	background-color: MediumSeaGreen;
}
li a, label{
	font-weight: bold;
}

.card{
	margin-top: 25px;
}



body{
	background-image: url("background.jpg");
	background-size: 100%;
}

img{
	max-width: 100%;
	height: auto;
	animation:spin 10s linear infinite;
}


@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }